/*This is a default CSS document*/
*{
    padding:0px;
    margin:0px;
}
/*This is the start of the webpage*/
.wrapper{
    min-height:1000px;
    min-width:1000px;
    background-color:white;
    padding:10px;
}
    /*Define the classes below*/
    .search{
        height:75px;
        width:500px;
        margin-left:25px;
        margin-top:25px;
    }
        .type_here{
            height:25px;
            width:100px;
        }
        .search_box{
            height:50px;
            width:200px;
            border-radius:5;
            background-color:skyblue;
            border:silver 2px solid;
        }
    .display{
        height:300px;
        width:500px;
        margin-left:25px;
    }
    .clear{
        height:50px;
        width:200px;
        border-radius:5;
        background-color:darkred;
        border:black 2px solid;
    }